---
const mail = "jordiifarre@gmail.com"
---

<section>
    <h2>Contact me</h2>
    <h3>{mail}</h3>
</section>

<style>
    @font-face {
        font-family: 'Helvetica Compressed';
        font-style: normal;
        font-weight: normal;
        src: local('Helvetica Compressed'), url('/fonts/helvetica-compressed-5871d14b6903a.woff') format('woff');
    }

    section {
        font-family: 'Helvetica Neue', sans-serif;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h2 {
        font-family: 'Helvetica Compressed', sans-serif;
        font-size: 48px;
        font-weight: 200;
        border-bottom: 6px solid #FDD600;
        padding: 30px 0;
    }

    h3 {
        margin: 0 0 40px 0;
        font-size: 36px;
        font-weight: 400;
    }

</style>