---

---

<footer>
    <div class="container">
        <a class="button" href="/">All my projects</a>
        <a class="button" href="/about">Know me more</a>
    </div>

    <div class="container">

    </div>
</footer>

<style>
    @font-face {
        font-family: 'Helvetica Compressed';
        font-style: normal;
        font-weight: normal;
        src: local('Helvetica Compressed'), url('/fonts/helvetica-compressed-5871d14b6903a.woff') format('woff');
    }

    footer div.container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 50px;
        padding-top: 100px;
    }

    footer div.container a.button {
        font-family: 'Helvetica Compressed', sans-serif;
        font-size: 38px;
        font-weight: 200;
        color: #fff;
        border: 3px solid #fff;
        text-decoration: none;
        padding: 20px;
    }

    footer div.container a.button:hover {
        background-color: rgba(255, 255, 255, 0.12);
    }

</style>