---

---

<footer>
    <div class="container container-padding">
        <a class="button" href="/">All my projects</a>
        <a class="button" href="/about">Know me more</a>
    </div>

    <div class="container icons-padding">
        <a href="https://www.instagram.com/jordiiifarre/" target="_blank"><img src="/iconos/instagram.svg" alt="instagram"/></a>
        <a href="https://www.linkedin.com/in/jordi-f-6396a2138/" target="_blank"><img src="/iconos/linkedin.svg" alt="linkedin"/></a>
        <a href="https://www.behance.net/jordifarre1" target="_blank"><img src="/iconos/behance.svg" alt="behance"/></a>
        <a href="https://www.jordiifarre.com" target="_blank"><img src="/iconos/ball.svg" alt="website"/></a>
    </div>
</footer>

<style>
    @font-face {
        font-family: 'Helvetica Compressed';
        font-style: normal;
        font-weight: normal;
        src: local('Helvetica Compressed'), url('/fonts/helvetica-compressed-5871d14b6903a.woff') format('woff');
    }

    footer div.container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 50px;
    }

    footer div.container-padding {
        padding: 100px 10px 10px 10px;
    }

    footer div.icons-padding {
        padding: 50px 10px 100px 10px;
    }

    footer div.container a.button {
        font-family: 'Helvetica Compressed', sans-serif;
        font-size: 38px;
        font-weight: 200;
        color: #fff;
        border: 3px solid #fff;
        text-decoration: none;
        padding: 20px;
    }

    footer div.container a.button:hover {
        background-color: rgba(255, 255, 255, 0.12);
    }

    footer div.container a {
        font-size: 24px;
        text-decoration: none;
    }

    footer div.container a img {
        height: 40px;
    }

</style>