---
const pagePath = Astro.url.pathname;
const activeColor = 'active-link';
---

<nav class="navbar">
    <div class="container">

        <div class="menu">
            <ul class="menu-list">
                <li><a href="/" class={pagePath === '/' ? activeColor : ''}>Work</a></li>
                <li><a href="/about" class={pagePath === '/about' ? activeColor : ''}>About</a></li>
                <li><a href="/contact" class={pagePath === '/contact' ? activeColor : ''}>Contact</a></li>
                <li><a href="/socials" class={pagePath === '/socials' ? activeColor : ''}>Socials</a></li>
            </ul>
        </div>

    </div>
</nav>

<style>
    .navbar {
        background-color: black;
        width: 100%;
        padding: 20px 32px;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        height: 112px;
        margin: 0 auto;
        padding: 0 16px;
    }

    .menu {
        order: 3;
        width: 100%;
        text-align: center;
    }

    .menu-list {
        display: flex;
        justify-content: center;
        gap: 16px;
        font-weight: 600;
    }

    .menu-list li {
        padding: 8px 16px;
    }

    .menu-list a {
        color: white;
        text-decoration: none;
    }

    .active-link {
        color: yellow;
    }
</style>
